{% extends 'base.html' %}
{% block conteudo %}
    <div>
        <form class="fc" action="{% url 'Cadastrar' %}" method="post"> 
            {% csrf_token %}
            <label for="exampleInputEmail1" class="form-label">Nome Tarefa:</label>
            <input type="text" class="form-control" name="NomeTarefa" aria-describedby="emailHelp">
            
            
            <label for="exampleInputPassword1" class="form-label">Descricao Tarefa:</label>
            <input type="text" class="form-control" name="DescriTarefa">
            
            <label for="exampleInputPassword1" class="form-label">Prioridade:</label>
            <input type="number" class="form-control" name="PrioridadeTarefa">
            
            <label for="exampleInputPassword1" class="form-label">Categoria:</label>
            <input type="text" class="form-control" name="CategoriaTarefa">
               
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
    </div>
{% endblock %}